@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #14532d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .loader {
    @apply w-12 h-12 rounded-full relative m-auto;
    animation: rotate 1s linear infinite;
  }

  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    @apply absolute inset-0 rounded-full border-solid border-4 border-white;
    animation: loadingAnim 2s linear infinite;
  }

  .loader::after {
    @apply inset-2;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #15803d;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loadingAnim {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    75%,
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
  }
}