@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #14532d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}